/* Module 2 Solution-Stylesheet*/
*{
	box-sizing: border-box;
}

body{	
	position: absolute;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 90%;
}

h1{	
	text-align: center;
}

p{
	padding-left: 20px;
	padding-right: 20px;
}

.right{
	margin-left: 65%;
	text-align: center;
	border: 1px solid green;
	width: 35%;
	padding: 3%;
	font-weight: bold; 
}

#d1{
	background-color: pink;
}

#d2{
	color: white;
	background-color: red;
}

#d3{
	background-color: yellow;
}

@media(min-width: 992px){
	.col-lg{
		float: left;
		border: 1px solid green;
		width: 29%;
		margin: 2%;
		background-color: grey;
	}
}

@media(min-width: 768px) and (max-width: 991px){
	.col-md-1{
		float: left;
		border: 1px solid green;
		width:	46%;
		margin: 2%;
		background-color: grey;
	}
	.col-md-2{
		float: left;
		border: 1px solid green;
		width: 96%;
		margin: 2%;
		background-color: grey;
	}
	#d3{

	}
	.right{
		margin-left: 65%;
		text-align: center;
		border: 1px solid green;
		width: 35%;
		padding: 1.5%;
	}
}

@media(max-width: 767px){
	.col-sm{
		float: left;
		border: 1px solid green;
		width: 96%;
		margin: 2%;
		background-color: grey;
	}

}